// BG
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;


$shades : (default: (text-primary: $main-color,
        text-secondary: $soft-color,
        text-neutral: $dark-color,
        primary-bg: $main-bg,
        secondary-bg: $soft-bg,
        neutral-bg: $dark-bg,
    ))